<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title></title>

    <script th:inlin="javascript">
        /*<![CDATA[*/
        var contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';
        $(function()
        {
            $("#logout").click(function()
            {
                window.location.href=contextPath+"/logout";
            });
        });

        /*]]>*/
    </script>
</head>

<body>
<nav th:replace="common/head"></nav>

<div class="col-md-1"></div>
<div class="col-md-2">
    <div class="list-group">
        <a th:href="@{/companyadmin}" class="list-group-item active">导航栏</a>
        <a th:href="@{/menu/companyBaseInfo}" class="list-group-item">基本信息</a>
        <a th:href="@{/menu/companyRotation}" class="list-group-item">轮播图</a>
        <a th:href="@{/menu/companyNews}" class="list-group-item">新闻中心</a>
        <a th:href="@{/menu/companyMedia}" class="list-group-item">主营业务</a>
        <a th:href="@{/menu/companyInfo}" class="list-group-item">概况</a>
        <a th:href="@{/menu/companyMusic}" class="list-group-item">音乐</a>
        <a th:href="@{/menu/companyVideo}" class="list-group-item">video</a>
    </div>
</div>
<div class="well well-lg col-md-8">
    <div class="jumbotron">
        <h1>Hello, admin</h1>
        <p>当前系统已用空间000,还能使用空间0000</p>
        <p>这个我还没想好</p>
    </div>
</div>

</body>

</html>