<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <title></title>
</head>

<body>
<nav th:replace="common/head"></nav>

<div class="col-md-1"></div>
<div class="col-md-2">
    <div class="list-group">
        <a th:href="@{/companyadmin}" class="list-group-item">导航栏</a>
        <a th:href="@{/menu/companyBaseInfo}" class="list-group-item">基本信息</a>
        <a th:href="@{/menu/companyRotation}" class="list-group-item">轮播图</a>
        <a th:href="@{/menu/companyNews}" class="list-group-item">新闻中心</a>
        <a th:href="@{/menu/companyMedia}" class="list-group-item">主营业务</a>
        <a th:href="@{/menu/companyInfo}" class="list-group-item">概况</a>
        <a th:href="@{/menu/companyMusic}" class="list-group-item">音乐</a>
        <a th:href="@{/menu/companyVideo}" class="list-group-item active">video</a>
    </div>
</div>
<div class="well well-lg col-md-8">
    <button type="button" class="btn btn-primary btn-lg addCompanyVideo" data-toggle="modal" data-target="#myModal">
        增加mv
    </button>
    <table class="table table-condensed" style="height: 50px;line-height:50px;text-align: center">
        <tr>
            <td>id</td>
            <td>来源</td>
            <td>标题</td>
            <td>内容</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr th:each="video:${videoList}">
            <td th:text="${video.id}"></td>
            <td th:text="${video.videoPath}"></td>
            <td th:text="${video.videoTitle}"></td>
            <td th:text="${video.videoContent}"></td>
            <td th:text="${video.status}==1?'正常':'禁用'"></td>
            <td>
                <span class="glyphicon glyphicon-pencil updateCompanyVideo" aria-hidden="true" data-toggle="modal"
                      data-target="#updateModal"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-trash deleteCompanyVideo" aria-hidden="true"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-arrow-up upCompanyVideo" aria-hidden="true"></span>
            </td>
        </tr>
    </table>

    <!--添加视频信息-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">上传视频</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="src">来源</label>
                            <input type="text" class="form-control" id="src" placeholder="来源">
                        </div>
                        <div class="form-group">
                            <label for="title">标题</label>
                            <input type="text" class="form-control" id="title" placeholder="标题">
                        </div>
                        <div class="form-group">
                            <label for="ckeditor">内容</label>
                            <textarea name="ckeditor" class="form-control" id="ckeditor" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="status1">状态</label><br>
                            <input type="radio" name="status" value="1" id="status1" checked> 启用
                            <input type="radio" name="status" value="0" id="status2"> 禁用
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btnSubmit">提交</button>
                </div>
            </div>
        </div>
    </div>

    <!--更新视频信息-->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">上传视频</h4>
                </div>
                <div class="modal-body">
                    <form id="updateForm" enctype="multipart/form-data">
                        <input type="hidden" id="updateId">
                        <div class="form-group">
                            <label for="updateSrc">来源</label>
                            <input type="text" class="form-control" id="updateSrc" placeholder="来源">
                        </div>
                        <div class="form-group">
                            <label for="updateTitle">标题</label>
                            <input type="text" class="form-control" id="updateTitle" placeholder="标题">
                        </div>
                        <div class="form-group">
                            <label for="updateCkeditor">内容</label>
                            <textarea name="updateCkeditor" class="form-control" id="updateCkeditor" cols="30"
                                      rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="updateStatus1">状态</label><br>
                            <input type="radio" name="updateStatus" value="1" id="updateStatus1"> 启用
                            <input type="radio" name="updateStatus" value="0" id="updateStatus2"> 禁用
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btnUpdate">更新</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';

    $(function () {
        CKEDITOR.replace('ckeditor');

        //添加图片
        $(".btnSubmit").click(function () {
            $.ajax({
                type: "post",
                dataType: "text",
                url: contextPath + "/video/addVideo.do",
                data: {
                    "videoPath": $("#src").val(),
                    "videoTitle": $("#title").val(),
                    "videoContent": CKEDITOR.instances.ckeditor.getData(),
                    "status": $("input:radio[name='status']:checked").val()
                },
                success: function (data) {
                    if (data == 1) {
                        layer.msg("添加成功");
                        window.location.href = contextPath + "/menu/companyVideo";
                    } else {
                        layer.alert("添加失败");
                    }
                }
            });
        });
        CKEDITOR.replace("updateCkeditor");

        $(".updateCompanyVideo").click(function () {
            let id = $(this).parent().prev().prev().prev().prev().prev().text();
            let videoPath = $(this).parent().prev().prev().prev().prev().text();
            let videoTitle = $(this).parent().prev().prev().prev().text();
            let videoContent = $(this).parent().prev().prev().text();
            let statusName = $(this).parent().prev().text();

            if (statusName === "正常") {
                $("#updateStatus1").attr("checked", "checked");
                $("#updateStatus2").removeAttr("checked");
            }
            else if (statusName === "禁用") {
                $("#updateStatus1").removeAttr("checked");
                $("#updateStatus2").attr("checked", "checked");
            }

            $("#updateId").val(id);
            $("#updateSrc").val(videoPath);
            $("#updateTitle").val(videoTitle);
            CKEDITOR.instances.updateCkeditor.setData(videoContent);
        });

        //更新图片
        $(".btnUpdate").click(function () {
            $.ajax({
                type: "post",
                dataType: "text",
                url: contextPath + "/video/updateVideo.do",
                data: {
                    "id": $("#updateId").val(),
                    "videoPath": $("#updateSrc").val(),
                    "videoTitle": $("#updateTitle").val(),
                    "videoContent": CKEDITOR.instances.updateCkeditor.getData(),
                    "status": $("input:radio[name='updateStatus']:checked").val()
                },
                success: function (data) {
                    if (data == 1) {
                        layer.msg("更新成功");
                        window.location.href = contextPath + "/menu/companyVideo";
                    } else {
                        layer.alert("更新失败");
                    }
                }
            });
        });

        //启用/禁用图片
        $(".deleteCompanyVideo").click(function () {
            let id = $(this).parent().prev().prev().prev().prev().prev().text();
            let statusName = $(this).parent().prev().text();
            let stat;

            if (statusName === "正常") {
                stat = 0;
            }
            else if (statusName === "禁用") {
                stat = 1;
            }

            $.ajax({
                type: "post",
                dataType: "text",
                url: contextPath + "/video/updateVideo.do",
                data: {
                    "id": id,
                    "status": stat
                },
                success: function (data) {
                    if (data == 1) {
                        layer.msg("操作成功");
                        window.location.href = contextPath + "/menu/companyVideo";
                    }
                    else {
                        layer.alert("操作失败");
                    }
                }
            });
        });
    });

    /*]]>*/
</script>
</body>

</html>