<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
    <title></title>
</head>

<body>
<nav th:replace="common/head"></nav>

<div class="col-md-1"></div>
<div class="col-md-2">
    <div class="list-group">
        <a th:href="@{/companyadmin}" class="list-group-item">导航栏</a>
        <a th:href="@{/menu/companyBaseInfo}" class="list-group-item">基本信息</a>
        <a th:href="@{/menu/companyRotation}" class="list-group-item">轮播图</a>
        <a th:href="@{/menu/companyNews}" class="list-group-item active">新闻中心</a>
        <a th:href="@{/menu/companyMedia}" class="list-group-item">主营业务</a>
        <a th:href="@{/menu/companyInfo}" class="list-group-item">概况</a>
        <a th:href="@{/menu/companyMusic}" class="list-group-item">音乐</a>
        <a th:href="@{/menu/companyVideo}" class="list-group-item">video</a>
    </div>
</div>
<div class="well well-lg col-md-8">
    <button type="button" class="btn btn-primary btn-lg addCompanyNews" data-toggle="modal" data-target="#myModal">
        添加新闻
    </button>

    <br>
    <br>
    <table class="table table-condensed" style="height: 50px;line-height:50px;text-align: center">
        <tr>
            <td>id</td>
            <td>分类</td>
            <td>描述</td>
            <td>图片</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr th:each="news:${newsList}">
            <td th:text="${news.newsId}"></td>
            <td th:switch="${news.id}">
                <span th:case="8">公司新闻</span>
                <span th:case="9">特别关注</span>
            </td>
            <td th:text="${news.introduction}"></td>
            <td>
                <img th:src="${news.imageSrc}" alt="" style="width: 50px;">
                <input type="hidden" th:value="${news.content}">
            </td>
            <td th:text="${news.status} == 1 ? '正常':'禁用'"></td>
            <td>
                <span class="glyphicon glyphicon-pencil upCompanyNews" aria-hidden="true" data-toggle="modal"
                      data-target="#updateModal"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-trash deleteCompanyNews" aria-hidden="true"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-arrow-up topCompanyNews" aria-hidden="true"></span>
            </td>
        </tr>
    </table>
    <div style="text-align: center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!--添加新闻-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">新闻上传</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm" enctype="multipart/form-data">
                        <!--新闻描述-->
                        <div class="form-group">
                            <label for="introduction">新闻描述</label>
                            <input type="text" class="form-control" id="introduction">
                        </div>
                        <!--新闻封面-->
                        <div class="form-group">
                            <label for="images"></label>
                            <input type="file" name="imageFile" id="images">
                        </div>
                        <!--新闻分类-->
                        <div class="form-group">
                            <label for="category">分类</label>
                            <select id="category" class="form-control sort">
                                <option value="8">公司新闻</option>
                                <option value="9">特别关注</option>
                            </select>
                        </div>
                        <!--新闻内容-->
                        <div class="form-group">
                            <label for="ckeditor">内容</label>
                            <textarea name="ckeditor" class="form-control" id="ckeditor" cols="30" rows="10"></textarea>
                        </div>

                        <!--状态-->
                        <div class="form-group">
                            <label for="status1">状态</label><br>
                            <input type="radio" name="status" value="1" id="status1" checked> 启用
                            <input type="radio" name="status" value="0" id="status2"> 禁用
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btnSubmit">提交</button>
                </div>
            </div>
        </div>
    </div>

    <!--更新新闻-->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">上传新闻</h4>
                </div>
                <div class="modal-body">
                    <form id="updateForm" enctype="multipart/form-data">
                        <!--新闻编号-->
                        <input type="hidden" id="updateId">
                        <!--新闻封面-->
                        <div class="form-group">
                            <label for="images"></label>
                            <input type="file" name="updateImageFile" id="updateImages">
                        </div>
                        <!--新闻分类-->
                        <div class="form-group">
                            <label for="updateCategory">分类</label>
                            <select id="updateCategory" class="form-control sort">
                            </select>
                        </div>
                        <!--新闻描述-->
                        <div class="form-group">
                            <label for="updateIntroduction">新闻描述</label>
                            <input type="text" class="form-control" id="updateIntroduction">
                        </div>
                        <!--新闻内容-->
                        <div class="form-group">
                            <label for="updateCkeditor">内容</label>
                            <textarea name="updateCkeditor" class="form-control" id="updateCkeditor" cols="30"
                                      rows="10"></textarea>
                        </div>
                        <!--新闻状态-->
                        <div class="form-group">
                            <label for="updateStatus1">状态</label><br>
                            <input type="radio" name="updateStatus" value="1" id="updateStatus1"> 启用
                            <input type="radio" name="updateStatus" value="0" id="updateStatus2"> 禁用
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btnUpdate">更新</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';

    $(function () {
        CKEDITOR.replace('ckeditor');
        //添加新闻
        $(".btnSubmit").click(function () {
            var option = {
                type: "post",
                url: contextPath + "/news/addNews.do",
                data: {
                    "introduction": $("#introduction").val(),
                    "id": $("#category").val(),
                    "content": CKEDITOR.instances.ckeditor.getData(),
                    "status": $("input:radio[name='status']:checked").val()
                },
                success: function (data) {
                    if (data == 1) {
                        alert("添加成功");
                        window.location.href = contextPath + "/menu/companyNews";
                    }
                    else {
                        alert("添加失败");
                    }
                }
            };
            $("#addForm").ajaxSubmit(option);
        });
        CKEDITOR.replace("updateCkeditor");

        $(".upCompanyNews").click(function () {
            let id = $(this).parent().prev().prev().prev().prev().prev().text();
            let categoryStr = $(this).parent().prev().prev().prev().prev().children("span").text();
            let introduction = $(this).parent().prev().prev().prev().text();
            let content = $(this).parent().prev().prev().children("input").val();
            let statusName = $(this).parent().prev().text();
            var str = "";

            if (categoryStr === "公司新闻") {
                str += "<option value='" + 8 + "'>" + "公司新闻" + "</option>";
                str += "<option value='" + 9 + "'>" + "特别关注" + "</option>";
            }
            else if (categoryStr === "特别关注") {
                str += "<option value='" + 9 + "'>" + "特别关注" + "</option>";
                str += "<option value='" + 8 + "'>" + "公司新闻" + "</option>";
            }
            console.log(str);
            $("#updateCategory").html(str);

            if (statusName === "正常") {
                $("#updateStatus1").attr("checked", "checked");
                $("#updateStatus2").removeAttr("checked");
            }
            else if (statusName === "禁用") {
                $("#updateStatus1").removeAttr("checked");
                $("#updateStatus2").attr("checked", "checked");
            }

            $("#updateId").val(id);
            CKEDITOR.instances.updateCkeditor.setData(content);
            $("#updateIntroduction").val(introduction);

        });

        //更新新闻
        $(".btnUpdate").click(function () {
            var option = {
                type: "post",
                url: contextPath + "/news/updateNews.do",
                data: {
                    "newsId": $("#updateId").val(),
                    "id": $("#updateCategory").val(),
                    "introduction": $("#updateIntroduction").val(),
                    "content": CKEDITOR.instances.updateCkeditor.getData(),
                    "status": $("input:radio[name='updateStatus']:checked").val()
                },
                success: function (data) {
                    if (data == 1) {
                        alert("更新成功");
                        window.location.href = contextPath + "/menu/companyNews";
                    }
                    else {
                        alert("更新失败");
                    }
                }
            };
            $("#updateForm").ajaxSubmit(option);
        });

        //启用/禁用新闻
        $(".deleteCompanyNews").click(function () {
            let id = $(this).parent().prev().prev().prev().prev().prev().text();
            let statusName = $(this).parent().prev().text();
            let stat;

            if (statusName === "正常") {
                stat = 0;
            }
            else if (statusName === "禁用") {
                stat = 1;
            }

            $.ajax({
                       type: "post",
                       dataType: "text",
                       url: contextPath + "/news/updateNews.do",
                       data: {
                           "newsId": id,
                           "status": stat
                       },
                       success: function (data) {
                           if (data == 1) {
                               alert("操作成功");
                               window.location.href = contextPath + "/menu/companyNews";
                           }
                           else {
                               alert("操作失败");
                           }
                       }
                   });
        });
    });

    /*]]>*/
</script>
</body>
</html>