<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title></title>
</head>

<body>
<nav th:replace="common/head"></nav>

<div class="col-md-1"></div>
<div class="col-md-2">
    <div class="list-group">
        <a th:href="@{/companyadmin}" class="list-group-item">导航栏</a>
        <a th:href="@{/menu/companyBaseInfo}" class="list-group-item">基本信息</a>
        <a th:href="@{/menu/companyRotation}" class="list-group-item">轮播图</a>
        <a th:href="@{/menu/companyNews}" class="list-group-item">新闻中心</a>
        <a th:href="@{/menu/companyMedia}" class="list-group-item">主营业务</a>
        <a th:href="@{/menu/companyInfo}" class="list-group-item">概况</a>
        <a th:href="@{/menu/companyMusic}" class="list-group-item active">音乐</a>
        <a th:href="@{/menu/companyVideo}" class="list-group-item">video</a>
    </div>
</div>
<div class="well well-lg col-md-8">
    <button type="button" class="btn btn-primary btn-lg addnewmusic" data-toggle="modal" data-target="#myModal">
        增加音乐
    </button>
    <table class="table table-condensed" style="height: 50px;line-height:50px;text-align: center">
        <tr>
            <td>id</td>
            <td>歌名</td>
            <td>歌手</td>
            <td>图片</td>
            <td>数量</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr th:each="music:${musicList}">
            <td th:text="${music.id}"></td>
            <td th:text="${music.musicName}"></td>
            <td th:text="${music.musicSinger}"></td>
            <td th:text="${music.musicImagesPath}"></td>
            <td th:text="${music.musicImagesCount}"></td>
            <td th:text="${music.status} == 1 ? '正常':'禁用'"></td>
            <td>
                <span class="glyphicon glyphicon-pencil mUpdate" aria-hidden="true" data-toggle="modal"
                      data-target="#updateModal"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-trash deleteCompanyMusic" aria-hidden="true"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-arrow-up topCompanyMusic" aria-hidden="true"></span>
            </td>
        </tr>
    </table>


    <!-- 上传音乐 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">上传音乐</h4>
                    <span id="testID"></span>
                </div>
                <div class="modal-body">
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="imageNum">图片数量</label>
                            <input type="text" class="form-control" id="imageNum" placeholder="图片数量">
                        </div>
                        <div class="form-group">
                            <label for="images">图片</label>
                            <input type="file" id="images" name="imageFile">
                        </div>
                        <div class="form-group">
                            <label for="lrc">歌词</label>
                            <input type="file" name="lrcFile" id="lrc">
                            <p style="color:red;display: none">重新上传请选择文件</p>
                        </div>
                        <div class="form-group">
                            <label for="music">音乐</label>
                            <input type="file" name="musicFile" id="music">
                            <p style="color:red;display: none">重新上传请选择文件</p>
                        </div>
                        <div class="form-group">
                            <label for="singer">歌手</label>
                            <input type="text" class="form-control" id="singer" placeholder="歌手">
                        </div>
                        <div class="form-group">
                            <label for="title">歌名</label>
                            <input type="text" class="form-control" id="title" placeholder="歌名">
                        </div>
                        <div class="form-group">
                            <label for="status1">状态</label><br>
                            <input type="radio" name="status" value="1" id="status1" checked> 启用
                            <input type="radio" name="status" value="0" id="status2"> 禁用
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btnUpload">上传</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 更新音乐信息 -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">更新音乐信息</h4>
                </div>
                <div class="modal-body">
                    <form id="updateForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="updateImageNum">图片数量</label>
                            <input type="text" class="form-control" id="updateImageNum" placeholder="图片数量">
                        </div>
                        <div class="form-group">
                            <label for="updateImages">图片</label>
                            <input type="file" id="updateImages" name="updateImageFile" multiple="multiple">
                        </div>
                        <div class="form-group">
                            <label for="updateLrc">歌词</label>
                            <input type="file" name="updateLrcFile" id="updateLrc">
                            <p style="color:red;display: none">重新上传请选择文件</p>
                        </div>
                        <div class="form-group">
                            <label for="updateMusic">音乐</label>
                            <input type="file" name="updateMusicFile" id="updateMusic">
                            <p style="color:red;display: none">重新上传请选择文件</p>
                        </div>
                        <div class="form-group">
                            <label for="updateSinger">歌手</label>
                            <input type="text" class="form-control" id="updateSinger" placeholder="歌手">
                        </div>
                        <div class="form-group">
                            <label for="updateTitle">歌名</label>
                            <input type="text" class="form-control" id="updateTitle" placeholder="歌名">
                        </div>
                        <div class="form-group">
                            <label for="updateStatus1">状态</label><br>
                            <input type="radio" name="updateStatus" value="1" id="updateStatus1"
                                   checked> 启用
                            <input type="radio" name="updateStatus" value="0" id="updateStatus2">
                            禁用
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btnUpdate">更新</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /*<![CDATA[*/
    var contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';

    $(function () {

        //添加音乐
        $(".btnUpload").click(function () {
            var option = {
                type: "post",
                url: contextPath + "/music/addMusic.do",
                data: {
                    "musicImagesCount": $("#imageNum").val(),
                    "musicSinger": $("#singer").val(),
                    "musicName": $("#title").val(),
                    "status": $("input:radio[name='status']:checked").val()
                },
                success: function (data) {
                    if (data == 1) {
                        alert("添加音乐成功");
                    }
                    else {
                        alert("添加音乐失败");
                    }
                }
            };

            $("#uploadForm").ajaxSubmit(option);
        });
    });

    /*]]>*/
</script>
</body>

</html>