<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <title></title>
</head>

<body>
  <nav class="navbar navbar-default">

    <div class="container-fluid">
      <div class="col-md-1"></div>
      <div class="navbar-header col-md-5">
        <a class="navbar-brand" href="#" style="width: 50px;padding: 0px">
          <img alt="Brand" src="./images/logo.png" style="width: 100%;height: 100%;">
        </a>
        <p class="navbar-text">test</p>
      </div>
      <div class="collapse navbar-collapse col-md-3" id="bs-example-navbar-collapse-1">
        <p class="navbar-text navbar-right">您好，admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" class="navbar-link">上次登录时间为：2018/06/15</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button>退出</button>
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </nav>

  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        导航栏
      </a>
      <a href="./companybaseinfo.html" class="list-group-item">基本信息</a>
      <a href="./companyrotation.html" class="list-group-item">轮播图</a>
      <a href="./companynews.html" class="list-group-item">新闻中心</a>
      <a href="./companymedia.html" class="list-group-item">主营业务</a>
      <a href="./companyinfo.html" class="list-group-item">概况</a>
      <a href="./companymusic.html" class="list-group-item">音乐</a>
      <a href="./companyvideo.html" class="list-group-item">video</a>
    </div>
  </div>
  <div class="well well-lg col-md-8">
    <div class="jumbotron">
        <h1>Hello, admin</h1>
        <p>当前系统已用空间000,还能使用空间0000</p>
        <p>这个我还没想好</p>
      </div>
  </div>

</body>

</html>