<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/layer/layer.js}"></script>
    <title></title>
</head>

<body>
<nav th:replace="common/head"></nav>

<div class="col-md-1"></div>
<div class="col-md-2">
    <div class="list-group">
        <a th:href="@{/companyadmin}" class="list-group-item">导航栏</a>
        <a th:href="@{/menu/companyBaseInfo}" class="list-group-item">基本信息</a>
        <a th:href="@{/menu/companyRotation}" class="list-group-item active">轮播图</a>
        <a th:href="@{/menu/companyNews}" class="list-group-item">新闻中心</a>
        <a th:href="@{/menu/companyMedia}" class="list-group-item">主营业务</a>
        <a th:href="@{/menu/companyInfo}" class="list-group-item">概况</a>
        <a th:href="@{/menu/companyMusic}" class="list-group-item">音乐</a>
        <a th:href="@{/menu/companyVideo}" class="list-group-item">video</a>
    </div>
</div>
<div class="well well-lg col-md-8">
    <button type="button" class="btn btn-primary btn-lg addCompanyRotation" data-toggle="modal" data-target="#myModal">
        增加轮播图
    </button>

    <br>
    <br>
    <table class="table table-condensed" style="height: 50px;line-height:50px;text-align: center">
        <tr>
            <td>id</td>
            <td>图片</td>
            <td>描述</td>
            <td>副描述</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr th:each="rotation:${rotationList}">
            <td th:text="${rotation.id}"></td>
            <td>
                <img th:src="${rotation.imageUrl}" alt="" style="width: 50px;">
            </td>
            <td th:text="${rotation.description}"></td>
            <td th:text="${rotation.associateDescription}"></td>
            <td th:text="${rotation.status}==1 ?'正常':'禁用'"></td>
            <td>
                <span class="glyphicon glyphicon-pencil updateRotation" aria-hidden="true" data-toggle="modal"
                      data-target="#updateModal"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-trash deleteRotation" aria-hidden="true"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-arrow-up upRotation" aria-hidden="true"></span>
            </td>
        </tr>
    </table>

    <!--添加图片信息-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加轮播图</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="images">图片</label>
                            <input type="file" name="imageFile" id="images">
                        </div>
                        <div class="form-group">
                            <label for="des">描述</label>
                            <input type="text" id="des">
                        </div>
                        <div class="form-group">
                            <label for="assDes">副描述</label>
                            <input type="text" id="assDes">
                        </div>
                        <div class="form-group">
                            <label for="status1">状态</label><br>
                            <input type="radio" name="status" value="1" id="status1" checked> 启用
                            <input type="radio" name="status" value="0" id="status2"> 禁用
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btnSubmit">提交</button>
                </div>
            </div>
        </div>
    </div>

    <!--更新图片信息-->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">添加轮播图</h4>
                </div>
                <div class="modal-body">
                    <form id="updateForm" enctype="multipart/form-data">
                        <input type="hidden" id="updateId">
                        <div class="form-group">
                            <label for="updateImages">图片</label>
                            <input type="file" name="updateImageFile" id="updateImages">
                        </div>
                        <div class="form-group">
                            <label for="updateDes">描述</label>
                            <input type="text" id="updateDes">
                        </div>
                        <div class="form-group">
                            <label for="updateAssDes">副描述</label>
                            <input type="text" id="updateAssDes">
                        </div>
                        <div class="form-group">
                            <label for="updateStatus1">状态</label><br>
                            <input type="radio" name="updateStatus" value="1" id="updateStatus1"> 启用
                            <input type="radio" name="updateStatus" value="0" id="updateStatus2"> 禁用
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btnUpdate">更新</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var contextPath = /*[[${#httpServletRequest.contextPath}]]*/'';

    $(function () {

        //添加图片
        $(".btnSubmit").click(function () {
            var option = {
                type: "post",
                url: contextPath + "/rotation/addRotation.do",
                data: {
                    "description": $("#des").val(),
                    "associateDescription": $("#assDes").val(),
                    "status": $("input:radio[name='status']:checked").val()
                },
                success: function (data) {
                    if (data == 1) {
                        layer.msg("添加成功");
                        window.location.href = contextPath + "/menu/companyRotation";
                    } else {
                        layer.alert("添加失败");
                    }
                }
            };
            $("#addForm").ajaxSubmit(option);
        });

        $(".updateRotation").click(function () {
            let id = $(this).parent().prev().prev().prev().prev().prev().text();
            let description = $(this).parent().prev().prev().prev().text();
            let associateDescription = $(this).parent().prev().prev().text();
            let statusName = $(this).parent().prev().text();

            if (statusName === "正常") {
                $("#updateStatus1").attr("checked", "checked");
                $("#updateStatus2").removeAttr("checked");
            }
            else if (statusName === "禁用") {
                $("#updateStatus1").removeAttr("checked");
                $("#updateStatus2").attr("checked", "checked");
            }

            $("#updateId").val(id);
            $("#updateDes").val(description);
            $("#updateAssDes").val(associateDescription);
        });

        //更新图片
        $(".btnUpdate").click(function () {
            var option = {
                type: "post",
                url: contextPath + "/rotation/updateRotation.do",
                data: {
                    "id": $("#updateId").val(),
                    "description": $("#updateDes").val(),
                    "associateDescription": $("#updateAssDes").val(),
                    "status": $("input:radio[name='updateStatus']:checked").val()
                },
                success: function (data) {
                    if (data == 1) {
                        layer.msg("更新成功");
                        window.location.href = contextPath + "/menu/companyRotation";
                    } else {
                        layer.alert("更新失败");
                    }
                }
            };
            $("#updateForm").ajaxSubmit(option);
        });

        //启用/禁用图片
        $(".deleteRotation").click(function () {
            let id = $(this).parent().prev().prev().prev().prev().prev().text();
            let statusName = $(this).parent().prev().text();
            let stat;

            if (statusName === "正常") {
                stat = 0;
            }
            else if (statusName === "禁用") {
                stat = 1;
            }

            $.ajax({
                type: "post",
                dataType: "text",
                url: contextPath + "/rotation/updateStatus.do",
                data: {
                    "id": id,
                    "status": stat
                },
                success: function (data) {
                    if (data == 1) {
                        layer.msg("操作成功");
                        window.location.href = contextPath + "/menu/companyRotation";
                    }
                    else {
                        layer.alert("操作失败");
                    }
                }
            });
        });
    });

    /*]]>*/
</script>
</body>

</html>